* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(251, 199, 133);
    background: linear-gradient(59deg,
    rgba(251, 199, 133, 1)35%,
    rgba(251, 157, 143, 1)100%
    );
}

section {
    display: flex;
    border: 1px solid #fff;
    border-radius: 19px;
    max-width: 900px;
    width: 90%;
}

.box {
    position: relative;
}


.container {
    position: relative;
    width: 10px;
    min-height: 10px;
}

.table-custom {
    border-collapse: collapse;
    max-width: 100px;
    margin: 100px ;  /*auto*/
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.2);
    border-bottom: 3px solid rgb(199, 183, 217);
}

.container h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    margin-left: 350px;
}

.container h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

thead tr {
    background: rgba(255,255,255,0.1);
    color: #fff;
}

th,td {
    padding: 15px 20px;    /* 15px en haut/bas 20px a gauche/droite */
}

tbody,tr,td,th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background: rgba(255,255,255,0.1);;                  /*rangé paire zébré */
}

#myBtn
{
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 12px;
    color: #002ee2;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px rgba(251, 157, 143, 1);
}
#myBtn:hover
{
    transform: translateY(3px);
  box-shadow: 0 6px rgb(251, 199, 133);
}
#myBtn:active
{
    transform: translateY(7px);
  box-shadow: 0 2px rgb(251, 199, 133);
}

/*Hamburger BTN */

#btn {
    background-color: rgba(251, 157, 143, 1);
    border: none;
    color: #002ee2;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

button.active {
    transform: translateX(-100px);
  }
  
  nav {
    background-color: rgba(251, 157, 143, 1);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  nav ul li {
    padding: 2rem 0;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav.active {
    transform: translateX(0);
  }

  hr {
      width: 80%;
  }

  /*img*/
.content-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%);
    background: rgb(199, 183, 217);
    background: linear-gradient(21deg,
    rgba(199, 183, 217, 1)0%
    rgba(112, 123, 245, 1)100%
    );
}

.content-img img {
    width: 90%;
}

@media screen and (max-width: 944px) {
    section{
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .content-img {
        clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0 100%);
        width: 100%;
        justify-content: center;
        border-radius: 0 0 19px 19px;
    }

    .content-img img {
        width: 340px;
    }
}